body {
    background-color: white;
}

.navbar {
    text-transform: uppercase;
}

.navbar {
    font-family: "PT Sans Narrow"
}

.nav-item {
    background-color: grey
}

.nav-link:hover {
    opacity: 1;
    background-color: purple !important
}

header {
    height: 300px;
    width: 100%;
    background-image: url("windows.jpg");
    background-size: cover;
}
