body {
    background-color: white;
}

.navbar {
    text-transform: uppercase;
}

.navbar {
    font-family: "PT Sans Narrow"
}

.nav-item {
    background-color: grey
}

.nav-link:hover {
    opacity: 1;
    background-color: purple !important
}

header {
    height: 300px;
    width: 100%;
    background-image: url("windows.jpg");
    background-size: cover;
}
.services i{
    font-size 30px;
    padding: 25px 20px;
    color: #fff;
    background-color: blue;
    width: 80px;
    height: 80px;
    border-radius: 50;    
}
.services span{
    width:200px;
    display:in-line-block;
    
}
.contact .i {
    padding: 100px 50px;
}
.contact button {
    width: 100%
}
.contact button:hover {
    background-color: purple;
}
